body {
  overflow-x: hidden;
}

a {
  color: lightblue;
}

h1 {
  margin-bottom: 0px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  width: 100vw;
  width: 100%;
  height: calc(100vh * 3);
  margin: 0px auto;
  color: white;
  position: absolute;
  z-index: 99;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(15, 1fr);
}

header {
  grid-column: 2 / span 4;
  grid-row: 2;
}

#projects {
  grid-column: 2 / span 10;
  grid-row: 3;
}